<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria</title>
    <link rel="stylesheet" href="/Public/CSS/style.css?v=1.0">
    <link rel="stylesheet" href="/Public/CSS/carousel.css?v=1.0">      
    <!-- FONTES GOOGLE-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- FIM FONTES GOOGLE-->
    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- FIM BOOTSTRAP ICONS-->
</head>
<body>
    <header>
        <nav> 
            <a class="logo" href="/index.html">GALERIA</a>
            <div class="mobile-menu"> 
                <div class="brg1"></div>
                <div class="brg2"></div>
                <div class="brg3"></div>
            </div> <!--mobile-menu-->
            <ul class="nav-list">
            <li><a href="/index.html">Membros</a></li>
            <li><a href="./galeria.html">Galeria</a></li>
            <li><a href="./cadastro.html">Cadastro</a></li> 
        </ul>
        </nav>
    </header>
    <main>
        <section class="landing">
                <h1> NOSSA GALERIA </h1>
                <p>Aqui, cada membro do nosso grupo compartilha um pedaço dos que mais gostamos: as franquias que moldaram nossas vidas. Se você também é fã de histórias épicas, personagens inesquecíveis e experiências imersivas, está no lugar certo! Vamos apresentar uma coleção diversificada, onde cada imagem reflete a paixão por diferentes formas de entretenimento.<p>
                <section id="liked-carousel" class="carousel-organization" style="display: none;">
                    <h2>Imagens Curtidas</h2>
                    <h3></h3>
                    <div class="carousel">
                        <button id="prev-btn">❮</button>
                        <div class="carousel-images"></div>
                        <button id="next-btn">❯</button>
                    </div>
                </section>
        </section>        
        <section class="divisoria">
            <h1>GALERIA DE MENEZES</h1>
        </section>
        <section class="header">
            <div class="galeria">
                <div class="single-galeria">
                    <img src="../img/Galeria/MGS3.jpg" alt="">
                    <div class="info">
                        <h3>Metal Gear Solid</h3>
                        <h4>Hideo Kojima</h4>
                        <h1>FRANQUIA FAVORITA</h1> <i class="bi bi-controller"></i>
                        <p>Série de jogos de Tiro e Stealth, dirigidos por Hideo Kojima e públicado pela Konami, apesar de ter uma trama inicialmente simples, se aprofunda em temas profundos com o passar de suas obras como politica, censura, uso desregrado de tecnologias, etc</p>
                        <a href="https://store.steampowered.com/sub/886313/" target="_blank"> Veja mais</a>
                        <button class="like-button">❤️ Curtir</button>
                    </div> <!-- INFO -->
                </div> <!-- single galeria  -->

                <div class="single-galeria">
                    <img src="../img/Galeria/Signalis2.png" alt="">
                    <div class="info">
                        <h3>SIGNALIS</h3>
                        <h4>Yuri Stern & Barbara Wittmann</h4>
                        <h1>JOGO FAVORITO</h1> <i class="bi bi-controller"></i>
                        <p>Jogo de survival horror desenvolvido pela rose-engine focado em entregar uma experiencia de terror clássica como os primeiros Resident Evil e Silent Hill 2, entregando uma experiência similar a de autores como David Lynch, Stanley Kubrick e Hideaki Anno</p>
                        <a href="https://store.steampowered.com/app/1262350/SIGNALIS/" target="_blank"> Veja mais</a>
                        <button class="like-button">❤️ Curtir</button>
                    </div> <!-- INFO -->
                </div> <!-- single galeria  -->


                <div class="single-galeria">
                    <img src="../img/Galeria/Akira2.jpg" alt=""> 
                    <div class="info">
                        <h3>AKIRA</h3>
                        <h4>Katsuhiro Otomo</h4>
                        <h1>ANIMAÇÃO FAVORITA</h1> <i class="bi bi-film"></i>
                        <p>Um filme cyberpunk animado japonês de 1988 baseado no mangá de mesmo nome de 1982 escrito por Katsuhiro Ôtomo, que acompanha Kaneda, o líder de uma gangue de motoqueiros em Neo-Tokyo, lutando para recuperar seu amigo, Tetsuo, dos experimentos que estão fazendo com o mesmo</p>
                        <a href="#"> Veja mais</a>
                        <button class="like-button">❤️ Curtir</button>
                    </div> <!-- INFO -->
                </div> <!-- single galeria  -->


                <div class="single-galeria">
                    <img src="../img/Galeria/twin peaks.jpg" alt="">
                    <div class="info">
                        <h3>Twin Peaks</h3>
                        <h4>David Lynch & Mark Frost</h4>
                        <h1>SÉRIE FAVORITA</h1> <i class="bi bi-film"></i>
                        <p>Enviado para resolver o mistério por trás da morte de Laura Palmer, O agente do FBI Dale Cooper viaja para a pequena cidade de Twin Peaks  e conhece um mundo além da vida e da morte</p>
                        <a href="#"> Veja mais</a>
                        <button class="like-button">❤️ Curtir</button>
                    </div> <!-- INFO -->
                </div> <!-- single galeria  -->


                <div class="single-galeria">
                    <img src="../img/Galeria/FallenAngels7.png" alt="">
                    <div class="info">
                        <h3>Fallen Angels</h3>
                        <h4>Wong Kar Wai</h4>
                        <h1> FILME FAVORITO</h1> <i class="bi bi-film"></i>
                        <p>Um matador de aluguel, Sua parceira, um trabalhador do mercado noturno, e seu interesse amoroso, se interligam por meio de uma narrativa não linear entregue com visuais magistráis que apenas o Wong Kar-Wai saberia dirigir, nesse épico sobre amor</p>
                        <a href="https://youtu.be/IlF9w9mFVaI" target="_blank"> Veja mais</a>
                        <button class="like-button">❤️ Curtir</button>
                    </div> <!-- INFO -->
                </div> <!-- single galeria  -->


                <div class="single-galeria">
                    <img src="../img/Galeria/Loveless.jpg" alt="">
                    <div class="info">
                        <h3>Loveless</h3>
                        <h4>My Bloody Valentine</h4>
                        <h1> ÁLBUM FAVORITO </h1> <i class="bi bi-music-note-beamed"></i>
                        <p>O segundo álbum da banda e indiscutivelmente o seu mais importante, tanto para o rock e o movimento que tomaria frente, o Shoegaze, mas também para a música, com seus pedais, distroções e vocais.</p>
                        <a href="https://youtu.be/bRtGBlOVLCk" target="_blank"> Veja mais</a>
                        <button class="like-button">❤️ Curtir</button>
                    </div> <!-- INFO -->
                </div> <!-- single galeria  -->

            </div> <!-- galeria-->
        </section>

        <section class="divisoria">
            <h1>GALERIA CAUÃ</h1>
        </section>
        
        <section class="header">
            <div class="galeria">
                <div class="single-galeria">
                    <img src="../img/Galeria/Zeldinha.jpg" alt="">
                    <div class="info">
                        <h3>Zelda</h3>
                        <h4>Nintendo</h4>
                        <h1>FRANQUIA FAVORITA</h1> <i class="bi bi-controller"></i>
                        <p>Franquia de Jogos de Ação e Aventura da Nintendo criada por Shigeru Miyamoto, sendo uma das principais franquias da Nintendo que acompanha as aventuras de Link pelo vasto mundo de Hyrule</p>
                        <a href="https://www.nintendo.com/pt-br/store/products/the-legend-of-zelda-tears-of-the-kingdom-switch/" target="_blank"> Veja mais</a>
                        <button class="like-button">❤️ Curtir</button>
                    </div> <!-- INFO -->
                </div> <!-- single galeria  -->

                <div class="single-galeria">
                    <img src="../img/Galeria/Underteio.png" alt="Underteio">
                    <div class="info">
                        <h3>Undertale</h3>
                        <h4>Toby Fox</h4>
                        <h1>JOGO FAVORITO</h1> <i class="bi bi-controller"></i>
                        <p>Um RPG desenvolvido por Toby Fox, onde você acompanha as aventuras de Frisk no mundo subterrâneo mágico onde ele conhece personagens interessantes e pode escolher se ele será o fim de todos ou o salvador deste mundo</p>
                        <a href="https://store.steampowered.com/app/391540/Undertale/" target="_blank"> Veja mais</a>
                        <button class="like-button">❤️ Curtir</button>
                    </div> <!-- INFO -->
                </div> <!-- single galeria  -->


                <div class="single-galeria">
                    <img src="../img/Galeria/Hajime.jpg" alt="">
                    <div class="info">
                        <h3>Hajime no Ippo</h3>
                        <h4>George Morikawa</h4>
                        <h1>ANIMAÇÃO FAVORITA</h1> <i class="bi bi-film"></i>
                        <p>O mangá de box mais famoso ao lado de Ashita no Joe, que conta a história de Ippo Makunouchi, que após ser salvo pelo famoso boxeador Mamoru Takamura, de apanhar, ele decide se tornar um boxeador profissional da mesma forma que o seu salvador</p>
                        <a href="https://www.netflix.com/br/title/80995578" target="_blank"> Veja mais</a>
                        <button class="like-button">❤️ Curtir</button>
                    </div> <!-- INFO -->
                </div> <!-- single galeria  -->


                <div class="single-galeria">
                    <img src="../img/Galeria/QuebrandoCama.jpg" alt="">
                    <div class="info">
                        <h3>BREAKING BAD</h3>
                        <h4>Vince Gilligan</h4>
                        <h1>SÉRIE FAVORITA</h1> <i class="bi bi-film"></i>
                        <p>A famosa história do professor de química Walter White e seu parceiro Jesse Pinkman no mundo do crime, quando descobre que tem câncer terminal, Walter decide arriscar tudo para ganhar dinheiro enquanto pode para deixar a para a sua familia viver bem, mas o sucesso muda Walter.</p>
                        <a href="https://www.netflix.com/br/title/70143836" target="_blank"> Veja mais</a>
                        <button class="like-button">❤️ Curtir</button>
                    </div> <!-- INFO -->
                </div> <!-- single galeria  -->


                <div class="single-galeria">
                    <img src="../img/Galeria/Carros.jpg" alt="">
                    <div class="info">
                        <h3>CARROS</h3> 
                        <h4>Pixar</h4>
                        <h1> FILME FAVORITO</h1> <i class="bi bi-film"></i>
                        <p>Com personagens carismáticos e uma história excelente, a animação da Pixar que segue a história de Relampago McQueen, um carro de corrida arrogante que, após um acidente, acaba preso em uma pequena cidade chamada Radiator Springs. Lá, ele conhece novos amigos e aprende valiosas lições sobre amizade, humildade e o verdadeiro significado de sucesso.</p>
                        <a href="https://www.disneyplus.com/pt-br/movies/carros/41KYquQjLwge" target="_blank"> Veja mais</a>
                        <button class="like-button">❤️ Curtir</button>
                    </div> <!-- INFO -->
                </div> <!-- single galeria  -->


                <div class="single-galeria">
                    <img src="../img/Galeria/In Rainbows.jpg" alt="">
                    <div class="info">
                        <h3>In Rainbows</h3>
                        <h4>Radiohead</h4>
                        <h1> ÁLBUM FAVORITO </h1> <i class="bi bi-music-note-beamed"></i>
                        <p>O aclamado álbum do Radiohead, conhecido por sua sonoridade experimental e emocionalmente envolvente, além de ser disponibilizado gratuitamente durante o seu lançamento, popularizando a distribuição de músicas online</p>
                        <a href="#"> Veja mais</a>
                        <button class="like-button">❤️ Curtir</button>
                    </div> <!-- INFO -->
                </div> <!-- single galeria  -->

            </div> <!-- galeria-->
        </section>

        <section class="divisoria">
            <h1>GALERIA KAIQUE</h1>
        </section>
        
        <section class="header">
            <div class="galeria">
                <div class="single-galeria">
                    <img src="../img/Galeria/Mario.png" alt="Mario">
                    <div class="info">
                        <h3>MARIO</h3>
                        <h4>Nintendo</h4>
                        <h1>FRANQUIA FAVORITA</h1> <i class="bi bi-controller"></i>
                        <p>O carro chefe da Nintendo e uma das mais icônicas e influentes da história dos videogames, a série Mario acompanha o encanador de mesmo nome passando por aventuras para salvar o Reino dos Cogumelos de Bowser e seus planos</p>
                        <a href="https://youtu.be/5kcdRBHM7kM" target="_blank"> Veja mais</a>
                        <button class="like-button">❤️ Curtir</button>
                    </div> <!-- INFO -->
                </div> <!-- single galeria  -->

                <div class="single-galeria">
                    <img src="../img/Galeria/Mario Galaxy.png" alt="Mario Galaxy 2">
                    <div class="info">
                        <h3>Mario Galaxy 2</h3>
                        <h4>Nintendo</h4>
                        <h1>JOGO FAVORITO</h1> <i class="bi bi-controller"></i>
                        <p>Mario embarca em uma nova jornada espacial para resgatar a princesa Peach, enfrentando inimigos e desafios em planetas e galáxias, contando com mecânicas inovadoras, gravidade variável, design de níveis imprevisíveis e jogabilidade excelente, se destaca como um dos melhores.</p>
                        <a href="https://www.youtube.com/watch?v=O7steQttNTo" target="_blank"> Veja mais</a>
                        <button class="like-button">❤️ Curtir</button>
                    </div> <!-- INFO -->
                </div> <!-- single galeria  -->


                <div class="single-galeria">
                    <img src="../img/Galeria/Naruto3.webp" alt="">
                    <div class="info">
                        <h3>Naruto Shippuden</h3>
                        <h4>Masashi Kishimoto</h4>
                        <h1>ANIMAÇÃO FAVORITA</h1> <i class="bi bi-film"></i>
                        <p>Um dos pilares da midia, A história segue Naruto Uzumaki, um jovem ninja com o sonho de se tornar o Hokage, o líder de sua vila, e ganhar o reconhecimento de todos. Abandonado desde pequeno, ele carrega o poder de uma besta com nove caudas, apresentando bons personagens e excelentes batalhas</p>
                        <a href="https://www.netflix.com/br/title/70205012" target="_blank"> Veja mais</a>
                        <button class="like-button">❤️ Curtir</button>
                    </div> <!-- INFO -->
                </div> <!-- single galeria  -->


                <div class="single-galeria">
                    <img src="../img/Galeria/Walking Dead.jpg" alt="">
                    <div class="info">
                        <h3>The Walking Dead</h3>
                        <h4>Robert Kirkman</h4>
                        <h1>SÉRIE FAVORITA</h1> <i class="bi bi-film"></i>
                        <p>Uma série de TV de drama e terror baseada na HQ de mesmo nome, se tornou um fênomeno mundial com a história de sobreviventes do apocalipse zumbi, apresentando constantes dilemas morais, traições, relações complexas e uma constante luta pela sobrevivência em um mundo brutal e sem esperança.</p>
                        <a href="https://www.netflix.com/br/title/70177057" target="_blank"> Veja mais</a>
                        <button class="like-button">❤️ Curtir</button>
                    </div> <!-- INFO -->
                </div> <!-- single galeria  -->


                <div class="single-galeria">
                    <img src="../img/Galeria/Atv-Par.jpg" alt=""> <!-- botar a foto do atividade paranormal-->
                    <div class="info">
                        <h3>Atividade Paranormal</h3>
                        <h4>Oren Peli</h4> 
                        <h1> FILME FAVORITO</h1> <i class="bi bi-film"></i>
                        <p>Um dos carros chefes do gênero "found footage", a história segue um jovem casal, Katie e Micah, que começam a gravar os estranhos eventos paranormais que ocorrem em sua casa, acreditando que uma presença sobrenatural está os assombrando.</p>
                        <a href="#"> Veja mais</a>
                        <button class="like-button">❤️ Curtir</button>
                    </div> <!-- INFO -->
                </div> <!-- single galeria  -->


                <div class="single-galeria">
                    <img src="../img/Galeria/MJ2.webp" alt="">
                    <div class="info">
                        <h3>Thriller</h3>
                        <h4>Michael Jackson</h4>
                        <h1> ÁLBUM FAVORITO </h1> <i class="bi bi-music-note-beamed"></i>
                        <p>O icônico álbum de Michael Jackson, talvez um dos mais icônicos da história,combinando pop, rock, R&B e funk, o álbum traz alguns dos maiores sucessos de Jackson, como "Billie Jean", "Beat It" e a faixa-título "Thriller", danndo uma nova cara ao Pop.</p>
                        <a href="#"> Veja mais</a>
                        <button class="like-button">❤️ Curtir</button>
                    </div> <!-- INFO -->
                </div> <!-- single galeria  -->

            </div> <!-- galeria-->
        </section>


        <section class="divisoria">
            <h1>GALERIA CRYSTIAN</h1>
        </section>
        
        <section class="header">
            <div class="galeria">
                <div class="single-galeria">
                    <img src="../img/Galeria/JAD.png" alt="">
                    <div class="info">
                        <h3>Jak & Daxter</h3>
                        <h4>Naughty Dog</h4>
                        <h1>FRANQUIA FAVORITA</h1> <i class="bi bi-controller"></i>
                        <p>Uma popular franquia de jogos de plataforma desenvolvida pela Naughty Dog, conhecida por suas mecânicas inovadoras e pelas histórias envolventes que a mesma é conhecida por, com a adição de exploração e um combate envolvente, torna essa uma franquia lendária para a Sony e para a Naughty Dog</p>
                        <a href="#"> Veja mais</a>
                        <button class="like-button">❤️ Curtir</button>
                    </div> <!-- INFO -->
                </div> <!-- single galeria  -->

                <div class="single-galeria">
                    <img src="../img/Galeria/Terraria.png" alt="Underteio">
                    <div class="info">
                        <h3>Terraria</h3>
                        <h4>Nintendo</h4>
                        <h1>JOGO FAVORITO</h1> <i class="bi bi-controller"></i>
                        <p>Conhecido por sua liberdade criativa e vasto conteúdo, Terraria oferece uma experiência rica e envolvente, com infinitas possibilidades de construção e exploração em um mundo cheio de segredos e desafios.</p>
                        <a href="#"> Veja mais</a>
                        <button class="like-button">❤️ Curtir</button>
                    </div> <!-- INFO -->
                </div> <!-- single galeria  -->


                <div class="single-galeria">
                    <img src="../img/Galeria/AnH.jpg" alt="">
                    <div class="info">
                        <h3>Aku no Hana</h3>
                        <h4>Shuzo Oshimi</h4>
                        <h1>ANIMAÇÃO FAVORITA</h1> <i class="bi bi-film"></i>
                        <p>Uma série de anime e mangá psicológica e de suspense, adaptada da obra de Shuzo Oshimi, com relações complexas, personagens profundos e um visual único, que diferencia a série dos demais</p>
                        <a href="#"> Veja mais</a>
                        <button class="like-button">❤️ Curtir</button>
                    </div> <!-- INFO -->
                </div> <!-- single galeria  -->


                <div class="single-galeria">
                    <img src="../img/Galeria/Undone.png" alt="">
                    <div class="info">
                        <h3>Undone</h3>
                        <h4>Kate Purdy</h4>
                        <h1>SÉRIE FAVORITA</h1> <i class="bi bi-film"></i>
                        <p>uma série de drama e mistério da Amazon Prime Video onde seguimos Alma, uma jovem que, após um acidente de carro, começa a experimentar uma distorção na realidade, acreditando que está viajando no tempo para resolver a morte misteriosa de seu pai.</p>
                        <a href="#"> Veja mais</a>
                        <button class="like-button">❤️ Curtir</button>
                    </div> <!-- INFO -->
                </div> <!-- single galeria  -->


                <div class="single-galeria">
                    <img src="../img/Galeria/LiT.jpg" alt="">
                    <div class="info">
                        <h3>Encontros e Desencontros</h3>
                        <h4>Sofia Coppola</h4> 
                        <h1> FILME FAVORITO</h1> <i class="bi bi-film"></i>
                        <p>É um filme de drama dirigido por Sofia Coppola, sendo "o outro lado da moeda" para o filme Her (2013) onde duas pessoas se encontram e se relacionam em Tóquio, onde terão que experienciar a efemeridade do amor, com uma trilha sonora perfeita do artista Kevin Shields</p>
                        <a href="#"> Veja mais</a>
                        <button class="like-button">❤️ Curtir</button>
                    </div> <!-- INFO -->
                </div> <!-- single galeria  -->


                <div class="single-galeria">
                    <img src="../img/Galeria/Laura Muller.jpg" alt="">
                    <div class="info">
                        <h3>Laura Müller Mixtape</h3>
                        <h4>Makalister</h4>
                        <h1> ÁLBUM FAVORITO </h1> <i class="bi bi-music-note-beamed"></i>
                        <p>Uma mixtape do artista brasileiro Makallister. Lançada em 2020, a obra mistura elementos de rap, trap e lo-fi, com letras que exploram temas de introspecção, relações pessoais e a vida cotidiana com um estilo único de produção</p>
                        <a href="#"> Veja mais</a>
                        <button class="like-button">❤️ Curtir</button>
                    </div> <!-- INFO -->
                </div> <!-- single galeria  -->

            </div> <!-- galeria-->
        </section>

        <section class="divisoria">
            <h1>GALERIA MATHEUS</h1>
        </section>
        
        <section class="header">
            <div class="galeria">
                <div class="single-galeria">
                    <img src="../img/Galeria/uncharted.jpg" alt="">
                    <div class="info">
                        <h3>Uncharted</h3>
                        <h4>Naughty Dog</h4>
                        <h1>FRANQUIA FAVORITA</h1> <i class="bi bi-controller"></i>
                        <p>Uma franquia de jogos de ação e aventura desenvolvida pela Naughty Dog, estrelada pelo caçador de tesouros Nathan Drake, enquanto ele viaja pelo mundo em busca de artefatos lendários e enfrenta vilões implacáveis</p>
                        <a href="#"> Veja mais</a>
                        <button class="like-button">❤️ Curtir</button>
                    </div> <!-- INFO -->
                </div> <!-- single galeria  -->

                <div class="single-galeria">
                    <img src="../img/Galeria/Uncharted 2.png" alt="Uncharted">
                    <div class="info">
                        <h3>Uncharted 2</h3>
                        <h4>Naughty Dog</h4>
                        <h1>JOGO FAVORITO</h1> <i class="bi bi-controller"></i>
                        <p>Uncharted 2 é um dos jogos de maior sucesso da Naughty Dog. Nesse jogo, Nathan Drake embarca em uma nova aventura em busca de um artefato perdido, o Cinturão de Cobre de Marco Polo, apresentando melhorias em tudo aquilo que tornou Uncharted uma franquia tão épica em primeiro lugar</p>
                        <a href="#"> Veja mais</a>
                        <button class="like-button">❤️ Curtir</button>
                    </div> <!-- INFO -->
                </div> <!-- single galeria  -->


                <div class="single-galeria">
                    <img src="../img/Galeria/One Piece.jpg" alt="">
                    <div class="info">
                        <h3>One Piece</h3>
                        <h4>Eiichiro Oda</h4>
                        <h1>ANIMAÇÃO FAVORITA</h1> <i class="bi bi-film"></i>
                        <p>Um dos maiores, tanto em extensão quanto em sucesso, mangás da história,  criada por Eiichiro Oda. A história segue Monkey D. Luffy, um jovem pirata com o sonho de encontrar o lendário tesouro conhecido como "One Piece" e se tornar o Rei dos Piratas.</p>
                        <a href="#"> Veja mais</a>
                        <button class="like-button">❤️ Curtir</button>
                    </div> <!-- INFO -->
                </div> <!-- single galeria  -->


                <div class="single-galeria">
                    <img src="../img/Galeria/BreakingBad2.webp" alt="">
                    <div class="info">
                        <h3>Breaking Bad</h3>
                        <h4>Vince Gilligan</h4>
                        <h1>SÉRIE FAVORITA</h1> <i class="bi bi-film"></i>
                        <p>A famosa história do professor de química Walter White e seu parceiro Jesse Pinkman no mundo do crime, quando descobre que tem câncer terminal, Walter decide arriscar tudo para ganhar dinheiro enquanto pode para deixar a para a sua familia viver bem, mas o sucesso muda Walter.</p>
                        <a href="#"> Veja mais</a>
                        <button class="like-button">❤️ Curtir</button>
                    </div> <!-- INFO -->
                </div> <!-- single galeria  -->


                <div class="single-galeria">
                    <img src="../img/Galeria/ClubeDaLuta.webp" alt="">
                    <div class="info">
                        <h3>Clube da Luta</h3>
                        <h4>David Fincher</h4> 
                        <h1> FILME FAVORITO</h1> <i class="bi bi-film"></i>
                        <p>Um filme de drama psicológico dirigido por David Fincher, baseado no romance de Chuck Palahniuk. A história segue um homem sem nome que, insatisfeito com sua vida, conhece Tyler Durden, um carismático e rebelde vendedor de sabonetes. Juntos, eles criam um clube secreto onde homens se reúnem para lutar fisicamente e desafiar as normas da sociedade.</p>
                        <a href="#"> Veja mais</a>
                        <button class="like-button">❤️ Curtir</button>
                    </div> <!-- INFO -->
                </div> <!-- single galeria  -->


                <div class="single-galeria">
                    <img src="../img/Galeria/TTF.jpg" alt="">
                    <div class="info">
                        <h3>Ten Thousand Fists</h3>
                        <h4>Disturbed</h4>
                        <h1> ÁLBUM FAVORITO </h1> <i class="bi bi-music-note-beamed"></i>
                        <p>O terceiro álbum de estúdio da banda de metal Disturbed. O álbum mistura elementos de heavy metal, nu metal e hard rock, com letras intensas que abordam temas como resistência, revolta e superação. Com faixas como "Stricken", "Land of Confusion", consolidando a banda como o gigante que é hoje</p>
                        <a href="#"> Veja mais</a>
                        <button class="like-button">❤️ Curtir</button>
                    </div> <!-- INFO -->
                </div> <!-- single galeria  -->

            </div> <!-- galeria-->
        </section>


        <section class="divisoria">
            <h1>GALERIA BRUNO</h1>
        </section>
        
        <section class="header">
            <div class="galeria">
                <div class="single-galeria">
                    <img src="../img/Galeria/MMZ.png" alt="">
                    <div class="info">
                        <h3>Megaman Zero</h3>
                        <h4>Capcom</h4>
                        <h1>FRANQUIA FAVORITA</h1> <i class="bi bi-controller"></i>
                        <p>A série segue Zero, um dos personagens mais populares da franquia MegaMan, em uma missão para proteger a humanidade em um futuro distópico, tendo um estilo de jogabilidade mais desafiador e focado em ação intensa</p>
                        <a href="#"> Veja mais</a>
                        <button class="like-button">❤️ Curtir</button>
                    </div> <!-- INFO -->
                </div> <!-- single galeria  -->

                <div class="single-galeria">
                    <img src="../img/Galeria/hollowknight.jpg" alt="Underteio">
                    <div class="info">
                        <h3>Hollow Knight</h3>
                        <h4>Team Cherry</h4>
                        <h1>JOGO FAVORITO</h1> <i class="bi bi-controller"></i>
                        <p>Um jogo de ação e aventura do tipo "Metroidvania", desenvolvido pela Team Cherry, e provávelmente um dos mais famosos do gênero, com um combate intenso, visuais desenhados a mão e uma trilha sonora incrível</p>
                        <a href="#"> Veja mais</a>
                        <button class="like-button">❤️ Curtir</button>
                    </div> <!-- INFO -->
                </div> <!-- single galeria  -->


                <div class="single-galeria">
                    <img src="../img/Galeria/OTGW.jpg" alt="">
                    <div class="info">
                        <h3>Over the Garden Wall</h3>
                        <h4>Patrick McHale</h4>
                        <h1>ANIMAÇÃO FAVORITA</h1> <i class="bi bi-film"></i>
                        <p>Enquanto tentam encontrar o caminho de volta para casa, os irmãos Greg e Wirt encontram uma série de personagens excêntricos e enfrentam desafios sobrenaturais. A série mistura elementos de fantasia, humor e um toque de melancolia, com uma estética que remete a contos de fadas clássicos.</p>
                        <a href="#"> Veja mais</a>
                        <button class="like-button">❤️ Curtir</button>
                    </div> <!-- INFO -->
                </div> <!-- single galeria  -->


                <div class="single-galeria">
                    <img src="../img/Galeria/Chaves2.webp" alt="">
                    <div class="info">
                        <h3>Chaves</h3>
                        <h4>Roberto Gómez Bolaños</h4>
                        <h1>SÉRIE FAVORITA</h1> <i class="bi bi-film"></i>
                        <p>O grande clássico da televisão, a série criada por Roberto Gómez Bolaños segue as aventuras de um garoto órfão, o Chaves, que vive em uma vila e se envolve em situações engraçadas com seus peculiares vizinhos</p>
                        <a href="#"> Veja mais</a>
                        <button class="like-button">❤️ Curtir</button>
                    </div> <!-- INFO -->
                </div> <!-- single galeria  -->


                <div class="single-galeria">
                    <img src="../img/Galeria/Megamente.jpg" alt="">
                    <div class="info">
                        <h3>Megamente</h3>
                        <h4>Dreamworks</h4> 
                        <h1>FILME FAVORITO</h1> <i class="bi bi-film"></i>
                        <p>A história segue Megamente, um supervilão que, após finalmente derrotar seu arquirrival Metro Man, se vê perdido sem um propósito. Ao criar um novo herói, Titan, que ameaça a cidade, Megamente precisa reconsiderar sua identidade e descobrir o que realmente significa ser herói. </p>
                        <a href="#"> Veja mais</a>
                        <button class="like-button">❤️ Curtir</button>
                    </div> <!-- INFO -->
                </div> <!-- single galeria  -->


                <div class="single-galeria">
                    <img src="../img/Galeria/SPO.jpg" alt="">
                    <div class="info">
                        <h3>Shop: a Pop Opera</h3>
                        <h4>Jack Stauber</h4>
                        <h1> ÁLBUM FAVORITO </h1> <i class="bi bi-music-note-beamed"></i>
                        <p>um álbum experimental do artista Jack Stauber, lançado em 2015. Com uma mistura única de pop, eletrônico, e elementos de música experimental, o álbum apresenta faixas que combinam letras surrealistas e humorísticas com sonoridades peculiares e melodias cativantes, explorando relações, a vida cotidiana e a natureza humana, muitas vezes de forma lúdica e introspectiva</p>
                        <a href="#"> Veja mais</a>
                        <button class="like-button">❤️ Curtir</button>
                    </div> <!-- INFO -->
                </div> <!-- single galeria  -->

            </div> <!-- galeria-->
        </section>
        <!-- Só copiar embaicho-->

    </main>
    <script src="../Controller/NavBarController.js"></script>
    <script src="../Controller/CarouselController.js"></script>
</body>
</html>