/* ESTILIZAÇÃO GERAL DO SITE, A SER ALTERADO CONFORME O GRUPO VEJA NECESSIDADE DE ACORDO COM O PROJETO DO FIGMA */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: none;
    list-style-type: none;
}

.logo:hover{ /* Só pro efeito do hover não ir na logo*/
    color: white;
    transform: scale(1);
    font-weight: 100;
}

h2.titulo{
    font-family: Poppins;
    color: white;
    font-size: 48px;
    text-align: center;
    padding: 0 0 50px 0;
}

h2.titulo span{
    color: blue;
}


header a{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    display: inline-block;
}

.btn-contato button{ 
    display: flex;
    align-items:normal;
    margin: 35px 25px;
    padding: 20px 75px; /* Grossura e Largura */
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: blue;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

a:hover{ /* Hover do botão de cima */
    transform: scale(1.2);
    opacity: 0.95;
    color: red;
    font-weight: 700;
}

a.logo{
    color: white;
    transform: scale(1);
    font-weight: 200;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: blue;
    height: 10vh;
}

main{
    background: url(/img/Membros/BG.jpg) no-repeat center center; /* tenho que achar uma foto melhor pra isso daqui */
    background-size: cover;
    object-fit: fill;
}

.flex{
    display: flex;
}

/* Especifico da responsabilidade Mobile */

.nav-list{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.nav-list li{
    letter-spacing: 2px;
    margin-left: 40px;
}

.mobile-menu{
    display: none;
    cursor: pointer;
}

/* Botão para abrir o menu hamburguer em dispositivos mobile */

.mobile-menu div{
    width: 32px;
    height: 2px; /* distanciamento entre as linhas, se achou pouco só mudar para mais, mas cuidado que vai engrossar a linha */
    background: #fff;
    margin: 6px; /* Se voces acharem que ficou muito grosso, só mudar o valor aqui para mais */
    transition: 0.4s;
}
/* Responsividade Mobile

/* Buscar qual o resolução devemos colocar para ativar o modo mobile, 999px é só uma solução temporária */
@media (max-width: 999px) {
    body{
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 10vh;
        right: 0;
        width: 45vw;
        height: 90vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }

    .nav-list li{
        margin-left: 0px;
        opacity: 0;
    }

    .mobile-menu{
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

/* Efeitos de Transição */

@keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  /* TOPO DO SITE */


section.topo-do-site{
    padding: 255px 4%;
    border-radius: 100%;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-size: px; */
}

section.topo-do-site .flex{ /* Distanciamento dos elementos */
    align-items: center;
    justify-content: center;
    gap: 400px; /* Aumentar caso os elementos fiquem muito próximos, diminuir caso muito longe*/
}

.topo-do-site h1{
    font-size: 58px;
    color: white;
    line-height: 150px;
    font-family: Oswald;
}

.topo-do-site p{ /* Subtexto da Landing*/
    font-family: Poppins;
    font-size: 23px;
}

.topo-do-site h1 span{ /* Só muda a cor da exclamação */
    font-size: 58px;
    color: white; /* Pode mudar a cor da ultima letra, só trocar aqui*/
    line-height: 150px;
    font-family: Poppins;
}

 .interface{
    max-width: 1280px;
    margin: 0 auto;
} 

/* Estilização quem somos */
section.quem-somos{
    background: black; /* cor do fundo */
    padding: 40px 4%;
}

section.quem-somos .flex{
    gap: 60px;
}

.quem-somos .pessoas-box{
    color: white;
    cursor: pointer;
    padding: 40px; /* Ajusta a distancia dos box */
    border-radius: 28px;
    border: 2px solid #ffffff18;
    margin-top: 27px;
    transition: .2s;
    cursor: pointer;
}

.quem-somos .pessoas-box:hover{ /* Hover pessoas (nós) */
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78;
}

.quem-somos .pessoas-box i{ /* Cor dos icones */
    color: blue;
    font-size: 75px;
}

.quem-somos .pessoas-box button{

    display: flex;
    align-items: normal;
    margin: 35px 20px;
    padding: 15px 190px; /* Grossura e Largura /// Se voces quiserem a gente pode tentar dar um jeito de transformar tudo isso aqui em um unico botão */
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: blue;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
}

.quem-somos .pessoas-box button:hover{ 
    transform: scale(1);
}

.quem-somos .pessoas-box img{ /* Cor dos icones */
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

.quem-somos .pessoas-box p{ /* Bio */
    font-family: Poppins;
    color: white;
    font-size: 20px;
}

.quem-somos .pessoas-box h3{ /* Nomes */
    font-family: Poppins;
    color: white;
    font-size: 25px;
    margin: 15px 0;  
}

.quem-somos .pessoas-box h3 span{ /* Nomes */
color: blue;
}

.quem-somos .flex{
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-grow: 1;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
}   

.quem-somos .pessoas-box a:hover{ /* Hover botão saiba mais no quem somos nós */
    transform: scale(1.08);
    opacity: 0.95;
    font-weight: 700;
}

/* FORMULÁRIO */

section.formulario{
    padding: 80px 4%;
    background-color: black;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
}

form input, form textarea{
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea{
    resize: none;
    max-height: 200px;
    font-family: Poppins;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .placeholder{
    font-family: Poppins;
}

form .btn-enviar input{
    width: 150px;
    background-color: blue;
    font-family: Poppins;
    font-weight: 600;
    cursor: pointer;
}

form .btn-enviar:hover{
    transform: scale(1.22);
    transition: .25s;
}


/* CONFIG PAGINA DE GALERIA */

body{
    background: black;
  }
  
  .header{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 2%;
  }
  
  .header .galeria{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
  }
  
  .header .galeria .single-galeria{
    position: relative;
    width: 15%;
    height: 100%;
    margin: 0 5px;
    transition: 0.4s;
  }
  
  .header .galeria .single-galeria:hover:first-child{
    width: 48% !important;
  }
  
  .header .galeria .single-galeria:first-child{
    width: 15% !important;
  }
  
  .header .galeria .single-galeria:hover{
    width: 40% !important;
  }
  
  .header .galeria .single-galeria img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(20%);
  }
  
  .header .galeria .single-galeria:hover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(100%);
  }
  
  .header .galeria .single-galeria .info{
    position: absolute;
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.7) 65%, transparent);
    padding: 16% 8%;
    bottom: 0;
  }
  
  .header .galeria .single-galeria .info h1{
    display: none;
    font-family: Poppins;
    font-size: 26px;
    color: white;
  }
  
  .header .galeria .single-galeria:hover .info h1{
    display: flex;
    font-family: Poppins;
    font-size: 16px;
    color: white;
  }
  
  .header .galeria .single-galeria .info p{
    display: none;
    font-family: Poppins;
    font-size: 12px;
    line-height: 28px;
    color: white;
  }
  
  .header .galeria .single-galeria:hover .info p{
    display: flex;
    font-family: Poppins;
    font-size: 12px;
    line-height: 28px;
    color: white;
  }

  .header .galeria .single-galeria .info h4{
    display: none;
    font-family: Poppins;
    font-size: 10px;
    line-height: 28px;
    color: white;
  }

  .header .galeria .single-galeria:hover .info h4{
    display: flex;
    font-family: Poppins;
    font-size: 13px;
    line-height: 28px;
    color: white;
  }

  .header .galeria .single-galeria .info h3{
    display: none;
    font-family: Poppins;
    font-size: 9px;
    color: white;
  }
  
  .header .galeria .single-galeria:hover .info h3{
    display: flex;
    font-size: 26px;
    color: white;
  }
  
  .header .galeria .single-galeria .info a{
    display: none;
    font-family: Poppins;
    font-size: 12px;
    line-height: 28px;
    color: blue;
    text-decoration: none;
  
  }
  
  .header .galeria .single-galeria:hover .info a{
    display: flex;
    font-family: Poppins;
    font-size: 12px;
    line-height: 28px;
    color: blue;
    text-decoration: none;
  
  }
  
  .header .galeria .single-galeria .info a:hover{
    transform: scale(1);
    text-decoration: underline;
    cursor: pointer;
  }
  
  @media screen and (max-width: 764px){
     
    .header .galeria{
      width: 100%;
      height: 70vh;
      justify-content: flex-start;
      overflow-x: scroll;
    }
  
    .header .galeria .single-galeria{
      min-width: 90% !important;
      height: 100%;
      margin: 0 5px;
      transition: 0.4s;
    }
  
  }

  .header {
    background-color: black;
  }

.header span{
  color: blue;
}

.header i{
  color: white;
  margin: 3px 3px 3px 3px;
  padding: 80px 0px 0px 80px;
}

.header .galeria .single-galeria:hover .info i{
  padding: 0px;
  color: white;
}


.divisoria{
  padding-top: 40px;
  background-color: black;
}

.divisoria h1{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Poppins;
  font-size: 34px;
}


.landing{
  background: url(/img/Galeria/BG-Galeria.png) no-repeat center center; 
  min-width: 100vh;
  min-height: 750px;
  background-size: cover;
  object-fit: fill;
}



.landing h1{
  display: flex;
  font-family: Poppins;
  font-size: 32px;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 70px;
}

.landing p{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-family: Poppins;
  color: white;
  margin-left: 5%;
}
